<a href="https://colab.research.google.com/github/so-dipe/Internships/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
from io import StringIO
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
import numpy as np

In [6]:
df = pd.read_csv('/content/energydata_complete.csv', engine='python')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [15]:
X = df['T2'].to_frame()
y = df['T6']
model1 = LinearRegression()
model1.fit(X, y)

LinearRegression()

In [18]:
r2_score(y, model1.predict(X))

0.6418990830855493

In [19]:
df.drop(columns=['date', 'lights'], inplace=True)

In [27]:
X = df.drop(columns='Appliances')
y = df['Appliances']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [31]:
model2 = make_pipeline(
    MinMaxScaler(),
    LinearRegression()
)

model2.fit(X_train, y_train)

Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                ('linearregression', LinearRegression())])

In [32]:
mean_absolute_error(y_train, model2.predict(X_train))

53.74228107493453

In [33]:
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
X = normalised_df.drop(columns='Appliances')
y = normalised_df['Appliances']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [34]:
model3 = LinearRegression().fit(X_train, y_train)

In [37]:
mean_absolute_error(y_test, model3.predict(X_test))

0.050133623977429535

In [38]:
np.sum(np.square(y_test - model3.predict(X_test)))

45.34762967266377

In [41]:
np.sqrt(mean_squared_error(y_test, model3.predict(X_test)))

0.0875144494766171

In [42]:
r2_score(y_test, model3.predict(X_test))

0.14890246319303535

In [46]:
pd.Series(model3.coef_, index=X_train.columns).sort_values()

RH_2          -0.456698
T_out         -0.321860
T2            -0.236178
T9            -0.189941
RH_8          -0.157595
RH_out        -0.077671
RH_7          -0.044614
RH_9          -0.039800
T5            -0.015657
T1            -0.003281
rv1            0.000770
rv2            0.000770
Press_mm_hg    0.006839
T7             0.010319
Visibility     0.012307
RH_5           0.016006
RH_4           0.026386
T4             0.028981
Windspeed      0.029183
RH_6           0.038049
RH_3           0.096048
T8             0.101995
Tdewpoint      0.117758
T6             0.236425
T3             0.290627
RH_1           0.553547
dtype: float64

In [49]:
model4 = Ridge(0.4).fit(X_train, y_train)

In [50]:
np.sqrt(mean_squared_error(y_test, model4.predict(X_test)))

0.08753385704628003

In [52]:
model5 = Lasso(0.001).fit(X_train, y_train)

In [53]:
pd.Series(model5.coef_, index=X_train.columns).sort_values()

RH_out        -0.049557
RH_8          -0.000110
T1             0.000000
Tdewpoint      0.000000
Visibility     0.000000
Press_mm_hg   -0.000000
T_out          0.000000
RH_9          -0.000000
T9            -0.000000
T8             0.000000
RH_7          -0.000000
rv1           -0.000000
T7            -0.000000
T6             0.000000
RH_5           0.000000
T5            -0.000000
RH_4           0.000000
T4            -0.000000
RH_3           0.000000
T3             0.000000
RH_2          -0.000000
T2             0.000000
RH_6          -0.000000
rv2           -0.000000
Windspeed      0.002912
RH_1           0.017880
dtype: float64

In [54]:
np.sqrt(mean_squared_error(y_test, model5.predict(X_test)))

0.09358170467245137